<mgl-map
  #map
  [style]="'maputnik_layout_tim.json'"
  [zoom]="[7.47]"
  [center]="[5.737, 52.234]"

  (mapClick)="onMapClick($event)"
>
  <mgl-geojson-source
    #polygonSource
    id="polygon-source"
    [data]="polygonData"
  ></mgl-geojson-source>
  <mgl-geojson-source
    #pointSource
    id="point-source"
    [data]="pointData"
  >
  </mgl-geojson-source>

  <mgl-layer
    [id]="'polygon-layer'"
    [type]="'fill'"
    source="polygon-source"

    [paint]='polygonPaint'
  ></mgl-layer>
  <mgl-layer
    [id]="'point-layer'"
    [type]="'circle'"
    source="point-source"

    [paint]='pointPaint'
  ></mgl-layer>
</mgl-map>
